# Folders
**/node_modules
/megalinter-reports

# Env files
**/.env
**/.env.*

# Public
**/public

# Testing
**/coverage

# Private Files
**/private.*

# FrontEndMentor
*.sketch
*.xd
*.fig
.DS_Store

# VSCode
**/.vscode